* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: image-set("../images/background_website.jpg");
  background-color: black;
  background-size: cover;
}

main {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(128, 128, 128, 0.726);
  color: whitesmoke;
  border-radius: 1.4rem;
  box-shadow: 0px 0px 20px 5px white;
  padding: 2rem;
}

h2 {
  font-size: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: -2px 1px 1px black;
}
#input_city_name {
  font-size: 1.2rem;
  padding: 0.8rem;
  margin: 2rem 0rem;
  border: none;
  border-radius: 0.5rem;
}
#input_city_name:focus {
  box-shadow: -1px 1px 15px 4px rgb(46, 76, 121);
}

#input_city_name ~ button {
  margin: auto;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-transform: capitalize;
  color: whitesmoke;
  background-color: rgb(46, 76, 121);
}

#input_city_name ~ button:not(:disabled):hover {
  background-color: rgb(80, 109, 151);
  transform: scale(1.05);
  box-shadow: -1px 1px 5px 1px black;
  transition: all 0.5s ease;
}

#input_city_name ~ button.disabled {
  box-shadow: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
}

#resault > div > h3 {
  margin: 0px 1rem;
}
#resault > div > i {
  color: rgb(76, 94, 133);
  font-size: 1.5rem;
}
#resault > div {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: -1px 1px 5px 1px black;
  background-color: rgba(180, 180, 180, 0.897);
  color: rgb(26, 26, 26);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#resault > div:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.05);
  background-color: rgba(212, 211, 211, 0.897);
}

#error_aria {
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(245, 46, 46, 0.795);
  color: whitesmoke;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border: none;
  border-radius: 0.5rem;
}

.none {
  display: none;
}
.block {
  display: block;
}
.inline {
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.493);
}
